body {
    text-align: center;
  }
  #field {
    position: relative;
    width: 300px;
    height: 300px;
    border: 20px solid black;
    margin: 20px auto 0;
    background-color: #00FF00;
    overflow: hidden;
    cursor: pointer;
  }
  #ball {
    position: absolute;
    transition: 0.2s all ease-in-out;
  }